{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="d-flex card-register flex-column align-items-center vh-100">
		<div class="card mt-5" style="width: 18rem;">
			<img src="{{ asset('build/images/register.jpg') }}" class="card-img-top" alt="photo de torii">
			<div class="card-body card-torii">
				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.password, {
				label: 'Password'
				}) }}
				<button type="submit" class="btn button-crud button-form-center register-button mx-auto">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
			
	</div>
{% endblock %}
