{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{# ------------ M O B I L E ---------- #}
<div class="d-md-none container text-center">
    <h1>{{ city.name }}</h1>
		<img src="{{ asset('build/images/' ~ city.cover) }}" class="d-md-none object-fit-cover w-100 rounded-3 pb-3" alt="{{ city.name }}" loading="lazy"/>
        <p>{{city.description}}</p>
            <div class="card-group container container-card gap-1 pt-4">
                {% for recommendations in recommendation %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{recommendations.content}}</p>
                        <div class="crud-button-block">
                            {% if is_granted("ROLE_USER") and recommendations.owner == app.user or is_granted("ROLE_ADMIN") %}
                                <a class="btn button-crud mt-3" href="{{ path('recommendation_edit', { id: recommendations.id }) }}">Editer la reccommendation</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if is_granted("ROLE_USER") %}
                    <a class="btn button-crud mt-3" href="{{ path('recommendation_new') }}"> Ajouter une recommendation</a>
                {% endif %}
            </div>
</div>
<div class="d-flex justify-content-evenly mt-5 mb-5 d-md-none">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
</div>

{# ------------ D E S K T O P ---------- #}
<div class="main-img d-none d-md-block text-center">
		<img src="{{ asset('build/images/' ~ city.cover) }}" class="region-cover object-fit-cover rounded-3" alt="{{ city.name }}" loading="lazy"/>
        <div class="main">
            <h1>{{ city.name }}</h1>
            <p class='fs-5 pt-3'>{{city.description}}</p>
                <div class="card-group container container-card pt-5 pb-3 gap-2">
                    {% for recommendations in recommendation %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{recommendations.content}}</p>
                            <div class="crud-button-block">
                                {% if is_granted("ROLE_USER") and recommendations.owner == app.user or is_granted("ROLE_ADMIN") %}
                                    <a class="btn button-crud mt-3" href="{{ path('recommendation_edit', { id: recommendations.id }) }}">Editer la recommendation</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if is_granted("ROLE_USER") %}
                    <a class="btn button-crud mt-3" href="{{ path('recommendation_new') }}"> Ajouter une recommendation</a>
                    {% endif %}
                </div>
        </div>
</div>

<div class="main d-none d-md-flex justify-content-evenly mt-5 mb-5">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
    <img src="{{ asset('build/images/tempura.png') }}" class="tempura" loading="lazy">
</div>

{# ------------ C O M M E N T ---------- #}
{% if app.user %}
		<div class="rating-group w-100 d-flex flex-column align-items-center container">
			{{ form_start(commentForm) }}
			<div class="d-flex align-items-center mb-2">
				{{ form_label(commentForm.comment)}}
			</div>
			{{ form_widget(commentForm.comment) }}
			<div class="my-3">{{ form_row(commentForm.Publiez) }}</div>
			{{ form_end(commentForm) }}
		</div>
{% else %}
<div class=" d-flex justify-content-around d-md-none">
	<a class="btn w-75 mt-3" href="{{ path('login') }}">
		Se connecter pour commenter
	</a>
</div>
<div class=" d-flex justify-content-around d-none d-md-block">
	<a class="btn w-75 mt-3" href="{{ path('login') }}">
		Se connecter pour commenter
	</a>
</div>
{% endif %}
<div class="container d-md-none mt-5">
	{% for comment in city.comments %}
    <div class="grid-comment">
        <img src="{{ asset('build/images/' ~ city.cover) }}" class="rounded-circle flex-shrink-0 me-3 fit-cover" loading="lazy">
            <div class="card mx-auto mb-2 w-100">
                <div class="card-body text-center">
                        <h5 class="card-title">{{ comment.commentator.username }}</h5>
                        <p class="card-text">{{ comment.comment }}</p>
                </div>
            </div>
    </div>
	{% endfor %}

</div>
<div class="main container d-none d-md-block mt-5">
	{% for comment in city.comments %}
    <div class="grid-comment">
        <img src="{{ asset('build/images/' ~ city.cover) }}" class="rounded-circle flex-shrink-0 me-3 fit-cover" loading="lazy">
            <div class="card mx-auto mb-2 w-100">
                <div class="card-body text-center">
                        <h5 class="card-title">{{ comment.commentator.username }}</h5>
                        <p class="card-text">{{ comment.comment }}</p>
                </div>
            </div>
    </div>
	{% endfor %}

</div>
{% endblock %}
