{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{# ------------ M O B I L E ---------- #}
<div id="carouselExampleDark" class="carousel carousel-dark slide d-md-none" data-bs-touch="true" data-bs-ride="carousel">
	<div class="carousel-inner" data-bs-interval="5">
		{% for key, regions in region %}
			<div class="carousel-item {% if key == 0 %} active {% endif %}">
				<a href="{{ path('region_show', { id: regions.id }) }}"><img src="{{ asset('build/images/' ~ regions.cover) }}" class="d-block mx-auto pt-5 carousel-img-plj object-fit-cover rounded-3" alt="{{ regions.name }}" loading="lazy"></a>
				<div class="carousel-caption glassmorphism mx-auto">
					<h5>{{regions.name}}</h5>
				</div>
			</div>
		{% endfor %}
	</div>
	{# MOBILE - left and right button - mobile #}
			<button class="carousel-control-prev d-md-none" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</button>
			<button class="carousel-control-next d-md-none" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>
<h2 class="d-md-none pt-3 mx-auto justify-content-center">Villes</h2>
<div class="d-md-none container container-plj gap-3">
	{% for cities in city %}
		<div>
			<div>
				<a href="{{ path('city_show', { id: cities.id }) }}"><img src="{{ asset('build/images/sakura-festival.png') }}" class="icon-plj" alt="icone maps" loading="lazy">
				{{cities.name}}</a> 
			</div>
		</div>
	{% endfor %}
</div>
{# ------------ D E S K T O P ---------- #}
<div id="carouselExampleIndicators" class="carousel slide d-none d-md-flex main" data-bs-touch="true" data-bs-ride="carousel">
	<div class="carousel-inner" data-bs-interval="1">
		{% for key, regions in region %}
			<div class="carousel-item {% if key == 0 %} active {% endif %}">
				<a href="{{ path('region_show', { id: regions.id }) }}"><img src="{{ asset('build/images/' ~ regions.cover) }}" class="d-block mx-auto pt-5 object-fit-cover carousel-img-plj rounded-4" alt="{{ regions.name }}" loading="lazy"></a>
				<div class="carousel-caption glassmorphism mx-auto">
					<h5>{{regions.name}}</h5>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<h2 class=" d-none d-md-block main pt-3 pb-3 mx-auto justify-content-center">Villes</h2>
<div class=" main d-none d-md-block"> 
	<div class="main container container-plj gap-3">
		{% for cities in city %}
			<div>
				<div>
					<img src="{{ asset('build/images/sakura-festival.png') }}" class="icon-plj" alt="icone maps" loading="lazy">
					<a href="{{ path('city_show', { id: cities.id }) }}">
					{{cities.name}}
					</a> 
				</div>
			</div>
{% endfor %}
</div>
{% endblock %}
