{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{# ------------ M O B I L E ---------- #}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel">
	<div class="carousel-inner" data-bs-interval="600">
		{% for key, regions in region %}
			<div class="carousel-item {% if key == 0 %} active {% endif %}">
				<img src="{{ asset('build/images/' ~ regions.cover) }}" class="d-block mx-auto pt-5 carousel-img-plj object-fit-cover" alt="{{ regions.name }}">
			</div>
		{% endfor %}
	</div>
</div>
<h2 class="pt-3 mx-auto justify-content-center">Villes</h2>
<div class="d-flex flex-wrap w-75 mx-auto gap-5 justify-content-center">
{% for cities in city %}
<div class="d-flex flex-column align-items-center">
    <img src="{{ asset('build/images/sakura-festival.png') }}" class="icon-plj" alt="">
    {{cities.name}}
    </div>
{% endfor %}
</div>
{# ------------ D E S K T O P ---------- #}
<div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-bs-touch="true" data-bs-ride="carousel">
	<div class="carousel-inner" data-bs-interval="600">
		{% for key, regions in region %}
			<div class="carousel-item {% if key == 0 %} active {% endif %}">
				<img src="{{ asset('build/images/' ~ regions.cover) }}" class="d-block mx-auto pt-5 carousel-img-plj-desktop object-fit-cover" alt="{{ regions.name }}">
			</div>
		{% endfor %}
	</div>
</div>
<h2 class="pt-3 fs-1 mx-auto justify-content-center">Villes</h2>
<div class="d-block flex-wrap w-75 mx-auto gap-5 justify-content-center">
{% for cities in city %}
<div class="d-flex">
    <img src="{{ asset('build/images/sakura-festival.png') }}" class="icon-plj" alt="">
    {{cities.name}}
    </div>
{% endfor %}
</div>
{% endblock %}
