{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{# ------------ M O B I L E ---------- #}
<div class="d-md-none container text-center">
    <h1><a href="javascript:window.history.back();"><i class="bi bi-chevron-left"></i></a>{{ region.name }}</h1>
		<img src="{{ asset('build/images/' ~ region.cover) }}" class="d-md-none object-fit-cover w-100 rounded-3" alt="{{ region.name }}"/>
            <h2 class='d-md-none pt-3 pb-3 mx-auto justify-content-center'>Villes</h2>
            <div class="d-md-none container container-plj gap-3">
                {% for city in cities %}
                    <div>
                        <div>
                            <img src="{{ asset('build/images/sakura-festival.png') }}" class="icon-plj" alt="icone maps">
                            {{city.name}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-group container container-card gap-1 pt-4">
                {% for recommendation in recommendations %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{recommendation.title}}</p>
                        <p class="card-text">{{recommendation.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
</div>

{# ------------ D E S K T O P ---------- #}
<div class="main-img d-none d-md-block text-center">
		<img src="{{ asset('build/images/' ~ region.cover) }}" class="region-cover object-fit-cover rounded-3" alt="{{ region.name }}"/>
        <div class="main">
            <h1>{{ region.name }}</h1>
                <h2>Villes</h2>
                    <div class="container container-plj gap-3">
                {% for city in cities %}
                    <div>
                        <div>
                            <img src="{{ asset('build/images/sakura-festival.png') }}" class="icon-plj" alt="icone maps">
                            {{city.name}}
                        </div>
                    </div>
                {% endfor %}
            </div>
                    <div class="card-group container container-card pt-5 pb-3 gap-2">
                {% for recommendation in recommendations %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{recommendation.title}}</p>
                        <p class="card-text">{{recommendation.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</div>

{% endblock %}
