{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
{# -------------------------M O B I L E------------------------ #}
<h1 class="text-center mt-2 d-md-none">Articles</h1>
{# <div class="pt-5 w-75 d-md-none mx-auto"{{ component ('ArticleSearch') }}</div> #}
{% for article in articles %}
<div class="card d-md-none mb-3 mt-3 ms-2">
    <div class="g-0 d-flex">
      <img src="{{ asset('build/images/' ~ article.photo[0].cover) }}" class="img-fluid rounded-start" alt="{{ article.title }}">
        <div class="card-body border">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text text-truncate" style="max-width: 150px;">{{ article.content }}</p>
            <a href="{{ path('article_show',{ id: article.id }) }}"><p class="card-text"><small class="text-body-secondary">Lire l'article</small></p></a>
        </div>
    </div>
</div>
{% endfor %}

{# -------------------------D E S K T O P------------------------ #}
<div class="main d-none d-md-block">
<h1 class="text-center mt-5 mb-4">Articles</h1>
{# {{ component ('ArticleSearch') }} #}
    <div class="grid-articles">
        {% for article in articles %}
            <div class="card mt-5" style="width: 15rem;">
                <img src="{{ asset('build/images/' ~ article.photo[0].cover) }}" class="card-img-top card-img-article" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text text-truncate">{{ article.content }}</p>
                    <a href="{{ path('article_show',{ id: article.id }) }}"><p class="card-text"><small class="text-body-secondary">Lire l'article</small></p></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
